* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.square-box {
  border: 1px solid black;
}

.btn {
  position: fixed;
  right: 50%;
  font-size: 24px;
  padding: 4px 8px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}